*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
body{
    background: #e4e9f7;
}
.info__{
    text-align: center;
    justify-content: center;
    min-height: 30vh;
    min-width: 05%;
    display: flex;
    padding: 25px 25px;
    border-radius: 20px;
}
.logins{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
}
#form{
    background: #fdfdfd;
    border-radius: 20px;
    max-width: 50%;
    min-width: 300px;
    padding: 25px 25px;
    flex-direction: column;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
}
#form input{
    outline: none;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
#btn{
    background: rgba(76,68,182,0.808);
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    padding: 0px 10px;
}
#btn:hover{
    opacity: 0.82;
}
#form label{
    margin-left: 0px;
    padding: 0px;
}
